#robot{
  width: 100px;
}

#start {
  text-align: center;
}

h2 {
  text-align: center;
}

.quiz-question {
  display: none;
  margin: 150px 0 0 50px;
}

.jumbotron {
  text-align: center;
  margin: 50px 0 150px 0;
}

h4 {
  text-align: center;
}
