#robot{
  width: 100px;
}

#start {
  text-align: center;
}

#beep, #boop, #calculating, #track-says {
  display: none;
  font-size: 3em;
  font-family: monospace;
  text-align: center;
  padding-top: 10px;
}

#response, #top-bar {
  display: none;
}

#result-page {
  margin-top: 30px;
}

#response h3{
  padding-bottom: 30px;
}

h4, h3, h2, #output {
  text-align: center;
}

.quiz-question {
  display: none;
  margin: 150px 0 0 50px;
}

.jumbotron {
  text-align: center;
  margin: 50px 0 150px 0;
}
